*{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Lora';
}


.secao-produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}






.produto{
    display: flex;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
    border-radius: 50px;
}

.bloco-imagem{
    width: 500px;
    height: 600px;
    background-size: contain;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

 .primeiro{
    background-image: url("images/TELESCÓPIO\ MODELO\ 1.jpg");
    background-size: cover;
}



.segundo{
    background-image: url("images/TELESCÓPIO\ MODELO\ 2.jpg");
    background-size: cover;
}

.terceiro{
    background-image: url("images/TELESCÓPIO\ MODELO\ 3.jpg");
    background-size: cover;
}

.bloco-texto{
    width: 40%;
    background-color: rgba(240, 240, 245, 0.864);
    color: rgb(0, 0, 0);
    height: 600px;
    padding: 40px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

body{
    background-image: url("images/[GetPaidStock.com]-65aa7ebf1caf3.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.bloco-texto p{
    margin: 5px 0px;
}

.bloco-compra{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 20px 0px;
    align-items: center;
}

.bloco-compra button{
    position: relative;
    left: -40%;
    padding: 15px;
    border: none;
    border-radius: 40px;
    background-color: black;
    color: white;
    transition: 1s;
}

button:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: white;
    color: black;
    border:  1px solid black;
}

.bloco-compra h3{
    font-size: 25px;
}

.bloco-texto span{
    color: rgb(0, 0, 0);
    font-weight: 900;
}